
NIM/.vs/NIM/v15/.suo
NIM/.vs/NIM/v15/Browse.VC.db
NIM/.vs/NIM/v15/Browse.VC.opendb
NIM/.vs/NIM/v15/ipch/AutoPCH/114ba8c455b4603/NIM.ipch
NIM/.vs/NIM/v15/Server/sqlite3/storage.ide
NIM/.vs/NIM/v15/Server/sqlite3/storage.ide-wal
NIM/.vs/NIM/v15/Server/sqlite3/storage.ide-shm
NIM/.vs/NIM/v15/Server/sqlite3/db.lock
